:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --header-font-size-base: clamp(14px, 1vw, 24px);
  --header-font-size-small: clamp(12px, 0.625vw, 20px);
  --header-font-size-large: clamp(16px, 0.83vw, 28px);
  --header-logo-size: clamp(24px, 1.25vw, 40px); */
  --header-font-size-base: clamp(10px, 0.7vw, 20px);
  --header-font-size-small: clamp(8px, 0.6vw, 16px);
  --header-font-size-large: clamp(14px, 0.8vw, 24px);
  --header-logo-size: clamp(32px, 1.67vw, 48px);
}

a {
  font-weight: 400;
  color: #000000;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  border-color: #000000;
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
  }
}
